<div>
  <h2>Service Worker</h2>
  <pre>
    navigator.serviceWorker.controller == {{ serviceWorkerController | json }};
    swUrl = "<input ng-model="serviceWorkerUrl"/>";
    swInit = <textarea ng-model="serviceWorkerInit"></textarea>;
    <button ng-click="registerServiceWorker()">navigator.serviceWorker.register(swUrl, swInit);</button>
  </pre>
</div>
<div>
  <h2>Request Generator</h2>
  <!-- list comes from https://fetch.spec.whatwg.org/#requestcontext -->
  Request Context: <select ng-options='source for source in [
    "audio", "beacon", "cspreport", "download", "embed", "eventsource", "favicon",
    "fetch", "font", "form", "frame", "hyperlink", "iframe", "image", "imageset", "import",
    "internal", "location", "manifest", "metarefresh", "object", "ping", "plugin",
    "prefetch", "preload", "prerender", "script", "serviceworker", "sharedworker",
    "subresource", "style", "track", "video", "worker", "xmlhttprequest", "xslt"
  ]' ng-model="selectedSource"></select>
  <div ng-switch="selectedSource">
    <div ng-switch-when="audio">
      <pre>
        &lt;audio src="<input ng-model="audioSrc" list="serviceWorkerUtilUrlList" placeholder="src">" crossorigin="<select ng-model="audioCrossorigin" ng-options="crossorigin for crossorigin in ['', 'anonymous', 'use-credentials']"></select>"&gt;&lt;/audio&gt;
        <audio ng-attr="{autoplay: audioPlay}" ng-src="{{ audioSrc }}" crossorigin="{{ audioCrossorigin }}"></audio>
        <button ng-click="audioPlay=true">play</button>
      </pre>
    </div>
    <div ng-switch-when="form">
      <form method="{{ formMethod }}" action="{{ formAction }}" enctype="{{ formEncType }}" target="_blank">
      <pre>
        &lt;form
          method="<input ng-model="formMethod" list="formMethodList" placeholder="method">"
          action="<input ng-model="formAction" list="serviceWorkerUtilUrlList" placeholder="action">"
          enctype="<input ng-model="formEncType" list="formEncTypeList" placeholder="enctype">"
        &gt;
          <textarea
            ng-model="formElements"
            placeholder="Form elements (comma separated)"></textarea
          ><span ng-repeat="element in formElements.split(',')">
          &lt;textarea
            name="{{ element }}"&gt;
          <textarea name="{{ element }}" placeholder="{{ element }}"></textarea>
          &lt;/textarea&gt;</span>
          <input type="submit" value="&lt;input type=&#x22;submit&#x22;&gt;"/>
        &lt;/form&gt;
      </pre>
      </form>
      <datalist id="formMethodList">
        <option>GET</option>
        <option>POST</option>
      </datalist>
      <datalist id="formEncTypeList">
        <option>application/x-www-form-urlencoded</option>
        <option>multipart/form-data</option>
        <option>text/plain</option>
      </datalist>
    </div>
    <div ng-switch-when="xmlhttprequest">
      <pre ng-init="xhrHeader = {}">
        xhr.open(
          "<input ng-model="xhrMethod" list="xhrMethodList" placeholder="method"/>",
          "<input ng-model="xhrUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>",
          /*async*/<select ng-model="xhrAsync" ng-options="b for b in [true, false]"></select>,
          /* <input ng-model="xhrUseAuth" type="checkbox" /> use user/passwd auth */
          "<input ng-disabled="!xhrUseAuth" ng-model="xhrUsername" placeholder="username"/>",
          "<input ng-disabled="!xhrUseAuth" ng-model="xhrPassword" placeholder="password"/>");
        <textarea ng-model="xhrHeaders" placeholder="Additional request headers (comma separated)"></textarea>
        <span ng-repeat="header in xhrHeaders.split(',')">xhr.setRequestHeader(
          "{{ header }}",
          <textarea ng-model="xhrHeader[header]"></textarea>);
        </span>
        xhr.timeout = <input type="number" ng-disabled="!xhrAsync" ng-model="xhrTimeout" placeholder="timeout (in ms)"/>
        xhr.withCredentials = <select ng-model="xhrWithCredentials" ng-options="b for b in [true, false]"></select>;
        data = <textarea ng-model="xhrData" placeholder="data"></textarea>;
        <button ng-click="
          fetchXhr(
            xhrMethod,
            xhrUrl,
            xhrAsync,
            xhrUsername,
            xhrPassword,
            xhrHeader,
            xhrTimeout,
            xhrWithCredentials,
            xhrData)">xhr.send(data);</button>
      </pre>
      <pre><b>Log</b>
        <span ng-repeat="log in xhrLog">{{ log.message.timeStamp }}: {{ log.type }}
        </span>
      </pre>
      <datalist id="xhrMethodList">
        <option>GET</option>
        <option>HEAD</option>
        <option>POST</option>
        <option>PUT</option>
        <option>PATCH</option>
        <option>DELETE</option>
        <options>CONNECT</options>
        <option>OPTIONS</option>
        <option>TRACE</option>
        <option>TRACK</option>
        <option>DEBUG</option>
      </datalist>
    </div>
    <div ng-switch-default>Option not supported.</div>
  </div>
  <datalist id="serviceWorkerUtilUrlList">
    <option>/sw/request</option>
    <option>/sw/fetch?url=&amp;init={}</option>
    <option>/sw/response?response=&amp;init={}</option>
  </datalist>
</div>
