<div>
  <h2>Service Worker</h2>
  <pre>
    navigator.serviceWorker.controller == {{ serviceWorkerController | json }};
    swUrl = "<input ng-model="serviceWorkerUrl"/>";
    swInit = <textarea ng-model="serviceWorkerInit"></textarea>;
    <button ng-click="registerServiceWorker()">navigator.serviceWorker.register(swUrl, swInit);</button>
  </pre>
</div>
<div>
  <h2>Request Generator</h2>
  <!-- list comes from https://fetch.spec.whatwg.org/#requestcontext -->
  Request Context: <select ng-options='source for source in [
    "audio", "beacon", "cspreport", "download", "embed", "eventsource", "favicon",
    "fetch", "font", "form", "frame", "hyperlink", "iframe", "image", "imageset", "import",
    "internal", "location", "manifest", "metarefresh", "object", "ping", "plugin",
    "prefetch", "preload", "prerender", "script", "serviceworker", "sharedworker",
    "subresource", "style", "track", "video", "worker", "xmlhttprequest", "xslt",
    "nonstandard:offline-manifest"
  ]' ng-model="selectedSource"></select>
  <div ng-switch="selectedSource">
    <div ng-switch-when="audio">
      <pre>
        &lt;audio controls src="<input ng-model="audioSrc" list="serviceWorkerUtilUrlList" placeholder="src">"&gt;
        <audio controls ng-src="{{ audioSrc }}"></audio>
        &lt;/audio&gt;
      </pre>
    </div>
    <div ng-switch-when="beacon">
      <pre>
        url = '<input ng-model="beaconUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>';
        data = new Blob(
          ['<textarea ng-model="beaconData" placeholder="data"></textarea>'],
          {'type': <input ng-model="beaconType" list="beaconTypeList" placeholder="type"/>});
        <button ng-click="beaconFetch(beaconUrl, beaconData, beaconType)">navigator.sendBeacon(url, data);</button>
      </pre>
    </div>
    <datalist id="beaconTypeList">
      <option>text/plain</option>
      <option>text/xml</option>
    </datalist>
    <div ng-switch-when="cspreport">
      <pre>
        Content-Security-Policy: report-uri <input
          ng-model="cspReportUrl" list="serviceWorkerUtilUrlList" placeholder="report-uri"
        />; default-src 'none';
        
        <textarea ng-model="cspContent" ng-init="cspContent='&lt;img src=#&gt;';"></textarea>
        <a ng-href="{{
          '/sw/response?response=' +
          (cspContent|escape) +
          '&amp;init=' +
          (
            {
              'headers':
              {
                'content-type': 'text/html',
                'content-security-policy':
                  'report-uri ' +
                  (cspReportUrl|escape) +
                  '; default-src \'none\''
              },
              'status':200
            }|json:0|escape)}}" target="_blank">open</a>
      </pre>
    </div>
    <div ng-switch-when="download">
      <pre>
        &lt;a href="<input ng-model="downloadUrl" list="serviceWorkerUtilUrlList" placeholder="href">"
          download="<input ng-model="downloadFilename" placeholder="filename">"&gt;
          <a href="{{ downloadUrl }}" download="{{ downloadFilename }}">go</a>
        &lt;/a&gt;
      </pre>
    </div>
    <div ng-switch-when="embed">
      <pre>
        &lt;embed
          src="<input ng-change="showEmbed=false" ng-model="embedSrc" list="serviceWorkerUtilUrlList" placeholder="src">"
          type="<input ng-change="showEmbed=false" ng-model="embedType" placeholder="type">"&gt;
          <button ng-click="showEmbed=true">embed</button><div ng-show="showEmbed">
            <embed ng-src="{{ embedSrc }}" type="{{ embedType }}"></embed>
          </div>
        &lt;/embed&gt;
      </pre>
    </div>
    <div ng-switch-when="eventsource">
      <pre>
        url = "<input ng-model="eventSourceUrl" list="serviceWorkerUtilUrlList" placeholder="url">";
        init = {withCredentials: <select
          ng-model="eventSourceWithCredentials" ng-options="bool for bool in [true, false]"></select>};
        <button ng-click="eventSourceFetch(eventSourceUrl, eventSourceWithCredentials)">new EventSource(url, init)</button>.onmessage = log;
      </pre>
    </div>
    <div ng-switch-when="favicon">
      <pre>
        &lt;link rel="shortcut icon" href="<input ng-model="faviconUrl" list="serviceWorkerUtilUrlList" placeholder="url">"&gt;
        <button ng-click="faviconFetch(faviconUrl)">fetch</button>
      </pre>
    </div>
    <div ng-switch-when="fetch">
      <pre ng-init="fetchHeader = {}">
        url = "<input ng-model="fetchUrl" list="serviceWorkerUtilUrlList" placeholder="url">";
        init = {
          "method": "<input ng-model="fetchMethod" list="fetchMethodList" placeholder="method">",
          "headers": [<textarea ng-model="fetchHeaders" placeholder="Additional request headers (comma separated)"></textarea>
            <span ng-repeat="header in fetchHeaders.split(',')" ng-show="fetchHeaders.length">
              "{{ header }}": <input ng-model="fetchHeader[header]" placeholder="{{ header }}" />,
            </span>],
          "body": <textarea ng-model="fetchBody" placeholder="body"></textarea>,
          "mode": "<input ng-model="fetchMode" list="fetchModeList" placeholder="mode"/>",
          "credentials: "<input ng-model="fetchCredentials" list="fetchCredentialsList" placeholder="credentials"/>",
          "cache": "<input ng-model="fetchCache" list="fetchCacheList" placeholder="cache"/>",
          "redirect": "<input ng-model="fetchRedirect" list="fetchRedirectList" placeholder="redirect"/>",
        };
        <button ng-click="fetchFetch(fetchUrl, fetchMethod, fetchHeader, fetchBody, fetchMode, fetchCredentials, fetchCache, fetchRedirect)">fetch(url, init)</button>.then(log)
      </pre>
      <datalist id="fetchMethodList">
        <option>GET</option>
        <option>HEAD</option>
        <option>POST</option>
        <option>PUT</option>
        <option>PATCH</option>
        <option>DELETE</option>
        <options>CONNECT</options>
        <option>OPTIONS</option>
        <option>TRACE</option>
        <option>TRACK</option>
        <option>DEBUG</option>
      </datalist>
      <datalist id="fetchModeList">
        <option>same-origin</option>
        <option>cors</option>
        <option>cors-with-forced-preflight</option>
        <option>no-cors</option>
      </datalist>
      <datalist id="fetchCredentialsList">
        <option>omit</option>
        <option>same-origin</option>
        <option>include</option>
      </datalist>
      <datalist id="fetchCacheList">
        <option>default</option>
        <option>no-store</option>
        <option>reload</option>
        <option>no-cache</option>
        <option>force-cache</option>
        <option>only-if-cached</option>
      </datalist>
      <datalist id="fetchRedirectList">
        <option>follow</option>
        <option>error</option>
        <option>manual</option>
      </datalist>
    </div>
    <div ng-switch-when="font">
      <pre>
        font = new FontFace("fontName", "url('<input ng-model="fontUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>')");
        <button ng-click="fontFetch(fontUrl)">font.load()</button>
      </pre>
    </div>
    <div ng-switch-when="form">
      <form method="{{ formMethod }}" action="{{ formAction }}" enctype="{{ formEncType }}" target="_blank">
      <pre>
        &lt;form
          method="<input ng-model="formMethod" list="formMethodList" placeholder="method">"
          action="<input ng-model="formAction" list="serviceWorkerUtilUrlList" placeholder="action">"
          enctype="<input ng-model="formEncType" list="formEncTypeList" placeholder="enctype">"
        &gt;
          <textarea
            ng-model="formElements"
            placeholder="Form elements (comma separated)"></textarea
          ><span ng-repeat="element in formElements.split(',')" ng-show="formElements.length">
          &lt;textarea
            name="{{ element }}"&gt;
          <textarea name="{{ element }}" placeholder="{{ element }}"></textarea>
          &lt;/textarea&gt;</span>
          <input type="submit" value="&lt;input type=&#x22;submit&#x22;&gt;"/>
        &lt;/form&gt;
      </pre>
      </form>
      <datalist id="formMethodList">
        <option>GET</option>
        <option>POST</option>
      </datalist>
      <datalist id="formEncTypeList">
        <option>application/x-www-form-urlencoded</option>
        <option>multipart/form-data</option>
        <option>text/plain</option>
      </datalist>
    </div>
    <div ng-switch-when="frame">
      <pre>
        &lt;frameset&gt;
          &lt;frame src="<input ng-model="frameUrl" pattern="[^']*" list="serviceWorkerUtilUrlList" placeholder="src">"&gt;
          <a href="{{ '/sw/response?init=' + ({
            'headers':{
              'content-type':'text/html',
              'x-xss-protection': '0'},'status':200}|json:0|escape) + '&amp;response=<frameset><frame src=\''+(frameUrl|escape)+'\'>' }}" target="_blank">go</a>
        &lt;/frameset&gt;
      </pre>
    </div>
    <div ng-switch-when="hyperlink">
      <pre>
        &lt;a href="<input ng-model="hyperlinkUrl" list="serviceWorkerUtilUrlList" placeholder="href"/>"&gt;
          <a href="{{ hyperlinkUrl }}" target="_blank">go</a>
        &lt;/a&gt;
      </pre>
    </div>
    <div ng-switch-when="iframe">
      <pre>
        &lt;iframe src="<input ng-model="iframeUrl" list="serviceWorkerUtilUrlList" placeholder="src"/>"&gt;
          <iframe ng-src="{{ iframeUrl }}"></iframe>
        &lt;/iframe&gt;
      </pre>
    </div>
    <div ng-switch-when="image">
      <pre>
        &lt;img src="<input ng-model="imageUrl" list="serviceWorkerUtilUrlList" placeholder="src"/>"&gt;
          <img ng-src="{{ imageUrl }}"/>
        &lt;/img&gt;
      </pre>
    </div>
    <div ng-switch-when="imageset">
      <pre>
        &lt;img srcset="<input ng-model="imageSetUrl" list="serviceWorkerUtilUrlList" placeholder="src"/> 1x"&gt;
          <img ng-show="imageSetUrl.length" ng-attr-srcset="{{ imageSetUrl + ' 1x' }}"/>
        &lt;/img&gt;
      </pre>
    </div>
    <div ng-switch-when="import">
      <pre>
        @import url('<input ng-model="importUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>');
        <style ng-bind="'@import url(' + (importUrl|json:0) + ');'"></style>
      </pre>
    </div>
    <div ng-switch-when="internal">
      <pre>
        sorry, internal is not supported! try <em>location</em> instead.
      </pre>
    </div>
    <div ng-switch-when="location">
      <pre>
        url = "<input ng-model="locationUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>";
        <button ng-click="locationFetch(locationUrl)">open().location = url</button>
      </pre>
    </div>
    <div ng-switch-when="manifest">
      <pre></pre>
    </div>
    <div ng-switch-when="metarefresh">
      <pre>
        &lt;meta http-equiv="refresh" content="0;URL=<input pattern="[^&#x22;]*" ng-model="metaRefreshUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>"&gt;
        <a target="_blank" href="{{ '/sw/response?init=' + ({
          'headers':{
            'content-type':'text/html',
            'x-xss-protection': '0'},'status':200}|json:0) + '&amp;response=<meta http-equiv=refresh content=%220;URL=' + (metaRefreshUrl|escape) + '%22>' }}">go</a>
      </pre>
    </div>
    <div ng-switch-when="object">
      <pre>
        &lt;object data="<input ng-model="objectUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>"&gt;
          <object ng-attr-data="{{ objectUrl }}"></object>
        &lt;/object&gt;
      </pre>
    </div>
    <div ng-switch-when="ping">
      <pre>
        &lt;a href="data:," ping="<input ng-model="pingUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>"&gt;
          <a href="data:," ping="{{ pingUrl }}" target="_blank">go</a>
        &lt;/a&gt;
      </pre>
    </div>
    <div ng-switch-when="plugin">
      <pre>
        sorry, plugin is not supported (anyway, browsers don't sent the requests through SWs)
      </pre>
    </div>
    <div ng-switch-when="script">
      <pre>
        &lt;script src="<input ng-model="scriptUrl" list="serviceWorkerUtilUrlList" placeholder="src"/>"&gt;
           <script ng-attr-src="{{ scriptUrl }}"></script>
        &lt;/script&gt;
      </pre>
    </div>
    <div ng-switch-when="sharedworker">
      <pre>
        url = "<input ng-model="sharedWorkerUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>";
        <button ng-click="sharedWorkerFetch(sharedWorkerUrl)">new SharedWorker(url);</button>
      </pre>
    </div>
    <div ng-switch-when="worker">
      <pre>
        url = "<input ng-model="workerUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>";
        <button ng-click="workerFetch(workerUrl)">new Worker(url);</button>
      </pre>
    </div>
    <div ng-switch-when="xmlhttprequest">
      <pre ng-init="xhrHeader = {}">
        xhr.open(
          "<input ng-model="xhrMethod" list="xhrMethodList" placeholder="method"/>",
          "<input ng-model="xhrUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>",
          /*async*/<select ng-model="xhrAsync" ng-options="b for b in [true, false]"></select>,
          /* <input ng-model="xhrUseAuth" type="checkbox" /> use user/passwd auth */
          "<input ng-disabled="!xhrUseAuth" ng-model="xhrUsername" placeholder="username"/>",
          "<input ng-disabled="!xhrUseAuth" ng-model="xhrPassword" placeholder="password"/>");
        <textarea ng-model="xhrHeaders" placeholder="Additional request headers (comma separated)"></textarea>
        <span ng-repeat="header in xhrHeaders.split(',')" ng-show="xhrHeaders.length">xhr.setRequestHeader(
          "{{ header }}", "<input ng-model="xhrHeader[header]" placeholder="{{ header }}"/>");
        </span>
        xhr.timeout = <input type="number" ng-disabled="!xhrAsync" ng-model="xhrTimeout" placeholder="timeout (in ms)"/>
        xhr.withCredentials = <select ng-model="xhrWithCredentials" ng-options="b for b in [true, false]"></select>;
        data = <textarea ng-model="xhrData" placeholder="data"></textarea>;
        <button ng-click="
          xhrFetch(
            xhrMethod,
            xhrUrl,
            xhrAsync,
            xhrUsername,
            xhrPassword,
            xhrHeader,
            xhrTimeout,
            xhrWithCredentials,
            xhrData)">xhr.send(data);</button>
      </pre>
      <datalist id="xhrMethodList">
        <option>GET</option>
        <option>HEAD</option>
        <option>POST</option>
        <option>PUT</option>
        <option>PATCH</option>
        <option>DELETE</option>
        <options>CONNECT</options>
        <option>OPTIONS</option>
        <option>TRACE</option>
        <option>TRACK</option>
        <option>DEBUG</option>
      </datalist>
    </div>
    <div ng-switch-when="nonstandard:offline-manifest">
      <pre>
        &lt;html manifest="<input pattern="[^&#x22;]*" ng-model="manifestUrl" list="serviceWorkerUtilUrlList" placeholder="url"/>"&gt;
          <a target="_blank" href="{{ '/sw/response?init=' + ({
            'headers':{
              'content-type':'text/html',
              'x-xss-protection': '0'},'status':200}|json:0) + '&amp;response=<html manifest=%22' + (manifestUrl|escape) + '%22>' }}">go</a>
        &lt;/html&gt;
      </pre>
    </div>
    <div ng-switch-default>Option not supported.</div>
  </div>
  <datalist id="serviceWorkerUtilUrlList">
    <option>/sw/request</option>
    <option>/sw/fetch?url=&amp;init={}</option>
    <option>/sw/response?response=&amp;init={}</option>
  </datalist>
</div>
